.HN {
    font-size: 24px;
    color: #444;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
}
h1{
    font-size: 30px !important;
    margin-top: 15px;
}
body {
    background-color: lightblue;
}
/*a {*/
/*    color: #007bff;*/
/*    text-decoration: none;*/
/*}*/

/*body a:hover {*/
/*    color: darkorchid*/
/*}*/

#moba, #purpose{
    color: purple;
    font-weight: bold;
}
p {
    font-size: 16px;
    color: black;
    text-align: left;
    line-height: 1.4;
}

/* Стилі для маркованих списків */
ul {
    list-style-type: circle;
    font-size: 16px;
    color: crimson;
    margin-left: 20px;
}
/* Стилі для нумерованих списків */
ol {
    list-style-type: decimal;
    font-size: 16px;
    color: #333;
    margin-left: 20px;
}
/* Стилі для визначень */
dl {
    font-size: 16px;
    color: #2f39b4;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 20px;
}
/* Стилі для таблиць */
table {
    width: 90%; /* Ширина таблиці */
    border-collapse: collapse; /* Злиття границь */
    font-size: 16px;
    color: #1a1a1a;
}
th, td {
    border: 2px solid #000;
    padding: 8px;
}
/* Стилі для заголовка таблиці */
th {
    background-color: paleturquoise;
}
/* Стилі для фону рядків таблиці */
tr {
    background-color: #eee;
}
/* Стилі для посилань в таблиці */
table a {
    color: blue;
    text-decoration: underline;
}
#img_cell {
    text-align: center;
}

/*lab 5*/
/* Стилі для блоків і елементів */
.gameContainer {
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.game-title {
    font-weight: bold;
}

.game-description {
    color: #666;
}
/* Стилі для плаваючих елементів */
.float-left {
    float: left;
    margin-right: 10px;
}

.float-right {
    float: right;
    margin-left: 10px;
}
/* Псевдокласи для посилань */
a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}
/* Псевдоклас :first-child */
.first-child:first-child {
    background-color: lightgreen;
}
/* Псевдоелементи :before та :after */
.game-container:before {
    content: '---';
    color: #999;
    margin-right: 5px;
}

.game-container:after {
    content: '---';
    color: #999;
    margin-left: 5px;
}


