.HN {
    font-size: 24px;
    color: #444;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
}
h1{
    font-size: 30px;
    margin-top: 15px;
}
body {
    background-color: lightblue;
}
a {
    color: #007bff;
    text-decoration: none;
}

body a:hover {
    color: darkorchid
}

#moba, #purpose{
    color: purple;
    font-weight: bold;
}
p {
    font-size: 16px;
    color: black;
    text-align: left;
    line-height: 1.4;
}

/* Стилі для маркованих списків */
ul {
    list-style-type: circle;
    font-size: 16px;
    color: crimson;
    margin-left: 20px;
}
/* Стилі для нумерованих списків */
ol {
    list-style-type: decimal;
    font-size: 16px;
    color: #333;
    margin-left: 20px;
}
/* Стилі для визначень */
dl {
    font-size: 16px;
    color: #2f39b4;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 20px;
}
/* Стилі для таблиць */
table {
    width: 90%; /* Ширина таблиці */
    border-collapse: collapse; /* Злиття границь */
    font-size: 16px;
    color: #1a1a1a;
}
th, td {
    border: 2px solid #000;
    padding: 8px;
}
/* Стилі для заголовка таблиці */
th {
    background-color: paleturquoise;
}
/* Стилі для фону рядків таблиці */
tr {
    background-color: #eee;
}
/* Стилі для посилань в таблиці */
table a {
    color: blue;
    text-decoration: underline;
}
#img_cell {
    text-align: center;
}

/*lab 4*/
/*сусідні селектори*/
u+i{
    color: yellow;
}
/*контекстні селектори*/
p u{
    color: mediumblue;
}

dl dd a{
    color: magenta;
    text-decoration: underline;
}

.shoottable a{
    color: chartreuse;
}
/*дочірні селектори*/
p>i{
    font-weight: bold;
}
